<section class="section-catalogue section">
  <div class="catalogue container">
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloBosch1.jpg"
          alt="Rotomartillo Bosch"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Bosch</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico <br />
          Con puntas y brocas <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <p>
          <span>$320.000</span>
          <span>Negociable</span>
          Domicilio Incluido en <br />
          Cali y alrededores
        </p>
      </div>
    </div>
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloDewalt2.jpg"
          alt="Rotomartillo Dewalt"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Dewalt</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico <br />
          Con puntas y brocas <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <span>$320.000</span>
        <span>Negociable</span>
        <span>Domicilio Incluido en <br />Cali y alrededores</span>
      </div>
    </div>
  </div>
</section>
