<section class="section-catalogue section">
  <div class="catalogue container">
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloBosch1.jpg"
          alt="Rotomartillo Bosch"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Bosch</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico, <br />
          con punta, pala y brocas, <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <span class="tool-container__price">$320.000</span>
        <span class="tool-container__negotiable">Negociable</span>
        <p class="tool-container__information">
          <i class="tool-container__svg ri-motorbike-fill"></i>Pago contra
          entrega en <b>Cali</b> y alrededores
        </p>
      </div>
    </div>
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloDewalt2.jpg"
          alt="Rotomartillo Dewalt"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Dewalt</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico, <br />
          con punta, pala y brocas, <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <span class="tool-container__price">$380.000</span>
        <span class="tool-container__negotiable">Negociable</span>
        <p class="tool-container__information">
          <i class="tool-container__svg ri-motorbike-fill"></i>Pago contra
          entrega en <b>Cali</b> y alrededores
        </p>
      </div>
    </div>
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloBosch1.jpg"
          alt="Rotomartillo Bosch"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Bosch</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico, <br />
          con punta, pala y brocas, <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <span class="tool-container__price">$320.000</span>
        <span class="tool-container__negotiable">Negociable</span>
        <p class="tool-container__information">
          <i class="tool-container__svg ri-motorbike-fill"></i>Pago contra
          entrega en <b>Cali</b> y alrededores
        </p>
      </div>
    </div>
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloBosch1.jpg"
          alt="Rotomartillo Bosch"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Bosch</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico, <br />
          con punta, pala y brocas, <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <span class="tool-container__price">$320.000</span>
        <span class="tool-container__negotiable">Negociable</span>
        <p class="tool-container__information">
          <i class="tool-container__svg ri-motorbike-fill"></i>Pago contra
          entrega en <b>Cali</b> y alrededores
        </p>
      </div>
    </div>
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloBosch1.jpg"
          alt="Rotomartillo Bosch"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Bosch</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico, <br />
          con punta, pala y brocas, <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <span class="tool-container__price">$320.000</span>
        <span class="tool-container__negotiable">Negociable</span>
        <p class="tool-container__information">
          <i class="tool-container__svg ri-motorbike-fill"></i>Pago contra
          entrega en <b>Cali</b> y alrededores
        </p>
      </div>
    </div>
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloBosch1.jpg"
          alt="Rotomartillo Bosch"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Bosch</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico, <br />
          con punta, pala y brocas, <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <span class="tool-container__price">$320.000</span>
        <span class="tool-container__negotiable">Negociable</span>
        <p class="tool-container__information">
          <i class="tool-container__svg ri-motorbike-fill"></i>Pago contra
          entrega en <b>Cali</b> y alrededores
        </p>
      </div>
    </div>
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloBosch1.jpg"
          alt="Rotomartillo Bosch"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Bosch</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico, <br />
          con punta, pala y brocas, <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <span class="tool-container__price">$320.000</span>
        <span class="tool-container__negotiable">Negociable</span>
        <p class="tool-container__information">
          <i class="tool-container__svg ri-motorbike-fill"></i>Pago contra
          entrega en <b>Cali</b> y alrededores
        </p>
      </div>
    </div>
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloBosch1.jpg"
          alt="Rotomartillo Bosch"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Bosch</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico, <br />
          con punta, pala y brocas, <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <span class="tool-container__price">$320.000</span>
        <span class="tool-container__negotiable">Negociable</span>
        <p class="tool-container__information">
          <i class="tool-container__svg ri-motorbike-fill"></i>Pago contra
          entrega en <b>Cali</b> y alrededores
        </p>
      </div>
    </div>
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloBosch1.jpg"
          alt="Rotomartillo Bosch"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Bosch</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico, <br />
          con punta, pala y brocas, <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <span class="tool-container__price">$320.000</span>
        <span class="tool-container__negotiable">Negociable</span>
        <p class="tool-container__information">
          <i class="tool-container__svg ri-motorbike-fill"></i>Pago contra
          entrega en <b>Cali</b> y alrededores
        </p>
      </div>
    </div>
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloBosch1.jpg"
          alt="Rotomartillo Bosch"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Bosch</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico, <br />
          con punta, pala y brocas, <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <span class="tool-container__price">$320.000</span>
        <span class="tool-container__negotiable">Negociable</span>
        <p class="tool-container__information">
          <i class="tool-container__svg ri-motorbike-fill"></i>Pago contra
          entrega en <b>Cali</b> y alrededores
        </p>
      </div>
    </div>
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloBosch1.jpg"
          alt="Rotomartillo Bosch"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Bosch</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico, <br />
          con punta, pala y brocas, <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <span class="tool-container__price">$320.000</span>
        <span class="tool-container__negotiable">Negociable</span>
        <p class="tool-container__information">
          <i class="tool-container__svg ri-motorbike-fill"></i>Pago contra
          entrega en <b>Cali</b> y alrededores
        </p>
      </div>
    </div>
    <div class="tool-container">
      <div class="tool-container__first">
        <img
          class="tool-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloBosch1.jpg"
          alt="Rotomartillo Bosch"
        />
      </div>
      <div class="tool-container__medium">
        <h3 class="tool-container__title">Rotomartillo Bosch</h3>
        <p class="tool-container__description">
          Rotomartillo en estuche plástico, <br />
          con punta, pala y brocas, <br />
          Nuevo <br />
          1500 watts <br />
          10 jouls <br />
        </p>
      </div>
      <div class="tool-container__last">
        <span class="tool-container__price">$320.000</span>
        <span class="tool-container__negotiable">Negociable</span>
        <p class="tool-container__information">
          <i class="tool-container__svg ri-motorbike-fill"></i>Pago contra
          entrega en <b>Cali</b> y alrededores
        </p>
      </div>
    </div>
  </div>
</section>
<img
  hidden
  width="50"
  height="auto"
  src="./images/catalogue/metodos-de-pago/bancolombia.png"
  alt="Bancolombia"
/>
<img
  hidden
  width="40"
  height="auto"
  src="./images/catalogue/metodos-de-pago/nequi.png"
  alt="Nequi"
/>
<img
  hidden
  width="50"
  height="auto"
  src="./images/catalogue/metodos-de-pago/efectivo.jfif"
  alt="Efectivo"
/>
<img
  hidden
  width="50"
  height="auto"
  src="./images/catalogue/metodos-de-pago/davivienda.jpg"
  alt="Davivienda"
/>

<!-- <div class="card-backdrop">
  <div class="card-container">
    <div class="card-container__first">
      <div class="card-container__wrap-img">
        <img
          class="card-container__img"
          src="./images/catalogue/Rotomartillos/RotomartilloBosch1.jpg"
          alt=""
        />
        <button class="card-container__btn card-container__btn--left">
          <i class="card-container__i ri-arrow-left-s-line ri-3x"></i>
        </button>
        <button class="card-container__btn card-container__btn--right">
          <i class="card-container__i ri-arrow-right-s-line ri-3x"></i>
        </button>
      </div>
      <button type="submit" class="card-container__button">
        <span>Comprar ahora</span>
      </button>
    </div>
    <div class="card-container__wrap">
      <div class="card-container__medium">
        <h3 class="card-container__title">si</h3>
        <p class="card-container__description">
          muchas cosas, y otras cosas, pero cmuhas cosas mas estan pasando por
          aa ujum ti no me va aca
        </p>
      </div>
      <div class="card-container__last">
        <p class="card-container__last-title">Medios de pago:</p>
        <div class="card-container__wrap-img">
          <img
            width="55"
            height="auto"
            src="./images/catalogue/metodos-de-pago/bancolombia.png"
            alt="Bancolombia"
          />
          <img
            width="40"
            height="auto"
            src="./images/catalogue/metodos-de-pago/bancolombia.png"
            alt="Nequi"
          />
          <img
            width="65"
            height="auto"
            src="./images/catalogue/metodos-de-pago/bancolombia.png"
            alt="Efectivo"
          />
          <img
            width="50"
            height="auto"
            src="./images/catalogue/metodos-de-pago/bancolombia.png"
            alt="Davivienda"
          />
        </div>
        <span class="card-container__price">ujummmmjjj</span>
      </div>
    </div>
  </div>
</div> -->
